:root {

    --bg-btn: rgb(221, 197, 197);
    --border-btn: solid 1px rgb(110, 91, 91);
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-btn);
    border: none;
    border-right: var(--border-btn);
    border-bottom: var(--border-btn);
    outline: none;
}

.button:active {
    background-color: #ccc;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: #fa8231;
    color: #fff;
}

.button.operation:active {
    background-color: #fa8231cc;
    color: #fff;
}

