:root {
    --bkcolor: #ffdb58;
    --frame: rgb(109, 95, 27);
    --text: #394c00;
}


body {
    color: var(--text);
    background-color: var(--bkcolor);    
}

.main {

    display:flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.popupwindow {

    font-weight: 700;
    color: rgb(231, 72, 9);
    margin-top: 20px;
    padding: 5px 20px;
    width: fit-content; 
    display: flex;
    border: 2px solid rgb(231, 72, 9);
    justify-content: center;

}


